.sidebar, .content-column {
  box-sizing: border-box;
}

.sidebar {
  float: left;
  width: 30%;
  position: fixed;
  padding: 10px;
  text-align: center;
}
.sidebar-box{
padding: 10px 25px 10px 25px;
  font-size: 14px;
  background-color: white;
  text-align: left;
border: 2px solid #827d78;
}
.sidebar-title{
transition: transform .2s;
text-align: left;
font-size: 15px;
color: #07383d;
}
.labelcategory:hover {
transform: scale(1.01);
}

.content-column {
  float: left;
  width: 65%;
  padding: 10px;
  margin-left: 30%;
}
.content-column {
display: grid;
grid-template-columns: repeat(auto-fill,minmax(425px,1fr));
gap: 1em;
padding: 0px 10px 0px 10px;
}
.column {
    position: relative;
    border-radius: .25em;
    overflow: hidden
}
@media only screen and (max-width: 600px) {
    .content-column {
        grid-template-columns:repeat(auto-fill,minmax(200px,1fr))
    }
}


.charachibi-nav{
padding: 2px;
background-color: #160101;
color: white;
text-align: center;
font-size: 16px;
border-radius:15px;
padding: 2px 15px 2px 20px;
width: 45%
}
.character {
border-radius: 10px;
padding: 5px;
max-width: 350px;
}
.character img{
border-radius: 10px;
border: 2px solid black;
}

.keitocharacter-name{
display: flex;
flex-direction: column;
justify-content: flex-end;
position: absolute;

background-color: #316745;
color: white;
text-align: center;
font-size: 12px;
border-radius: 15px;
padding: 0 25px 0 25px;
bottom: 20%;
right: 0;
transition: transform .1s;
}
.keitocharacter-name:hover{
  transform: scale(1.03);
}

.chiakicharacter-name
{
display: flex;
flex-direction: column;
justify-content: flex-end;
position: absolute;

background-color: #8a1c34;
color: white;
text-align: center;
font-size: 12px;
border-radius: 15px;
padding: 0 25px 0 25px;
bottom: 20%;
right: 0;
transition: transform .1s;
}
.chiakicharacter-name:hover{
  transform: scale(1.03);
} 

.kanatacharacter-name
{
display: flex;
flex-direction: column;
justify-content: flex-end;
position: absolute;

background-color: #008db7;
color: white;
text-align: center;
font-size: 12px;
border-radius: 15px;
padding: 0 25px 0 25px;
bottom: 20%;
right: 0;
transition: transform .1s;
}
.kanatacharacter-name:hover{
  transform: scale(1.03);
} 

.chara-square {
position: relative;
height: auto;
width: auto;
max-width: 400px;
}
.chara-square img{
background-color: black;
border-radius: 10px;
transition: transform .1s;
}
.chara-square:hover img{
  transform: scale(1.03);
}
.chara-square-desc{
position: relative;
justify: center;

.chara-square:hover .wip-desc{
box-shadow: 0 0 15px rgba(33,33,33,.4);
}

background-color: white;
color: black;
text-align: left;
font-size: 15px;
border-radius: 10px;
padding: 10px 25px 10px 25px;
bottom: 0;
left: 0;
}

.loresquare{
max-width: 500px;
background-color: white;
border: 2px solid #827d78;
padding: 2px;
float: center;
color: black;
text-align:left;}

.profile-wrap{
display: inline-block;
width: 90%;
text-align: center;
justify-content: center;
}

.profile-badge{
background-color: #316745;
color: white;
text-align: center;
font-size: 12px;
border-radius: 15px;
padding: 0 25px 0 25px;
bottom: 20%;
right: 0;
}

.profile-widget{
border-radius: 10px;
display: inline-block;
background-color: #316745;
color: white;
float: center;
width: 75%;
padding: 2px 0 0 10px;
margin-left: 10px;
margin-bottom: 5px;
text-align: left;
font-size: 16px;
transition: transform .1s;
}
.profile-widget:hover{
  transform: scale(1.03);
}

.profile-widget2{
border-radius: 10px;
background-color: white;
color: black;
float: center;
padding: 2px 0 0 10px;
text-align: left;
font-size: 14px;
max-width: 350px;
}

.profilecharacter {

}
.profilecharacter img{
border: 2px solid black;
border-radius: 10px;
max-width: 250px;
margin: 5px auto;
}

