.essaybox {
text-align:center;
justify: center;
}
.essaybg {
background-color: white;
text-align:left;
width: 97%;
display: inline-block;
box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.essay-header{
text-align:center;
padding: 0 25px 0 25px;
}
.bigessay {
background-color: white;
text-align:left;
font-size: 15px;
padding: 0 25px 0 25px;
display: inline-block;
}
.essay-analysis {
background-color: white;
text-align:left;
margin: 5px;
font-size: 15px;
}
.entireessaybox{
background-color: #e3e0de;
}
.question {
padding: 15px;
margin: 5px;
border-radius:10px;
background-color: #5c0010;
color: white;
width: 90%;
display: inline-block;
}

.note{
font-size: 14px;
text-align: center
}

.quote {
transition: box-shadow .3s;
width: 100%;
background-color: white;
margin: 5px;
padding: 10px;
border-radius:10px;
border: 0px solid #5c0010;
float: left;
color: black;
text-align:center;
}
.quote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  
.quotelabel{
text-align:left;
text-indent: 1px;
padding: 10px 10px 1px 10px;}

.keitolabel {
text-align:left;
}
.keitoquote {
transition: box-shadow .3s;
background-color: #d2e3ca;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.keitoquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.kurolabel {
text-align:left;
}
.kuroquote {
transition: box-shadow .3s;
background-color: #ebcfca;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.kuroquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.soumaquote {
transition: box-shadow .3s;
background-color: #e3d3f2;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.soumaquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.chiakiquote {
transition: box-shadow .3s;
background-color: #f2d3d3;
padding: 0px 3px 5px 10px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.chiakiquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
} 

.kanataquote {
transition: box-shadow .3s;
background-color: #d3e9f2;
padding: 3px 3px 5px 10px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.kanataquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.tetoraquote {
transition: box-shadow .3s;
background-color: #D1CCD2;
padding: 3px 3px 5px 10px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.tetoraquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
} 

.midoriquote {
transition: box-shadow .3s;
background-color: #eaf2d3;
padding: 3px 3px 5px 10px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.midoriquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
} 

.shinobuquote {
transition: box-shadow .3s;
background-color: #f5f2dc;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.shinobuquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
} 

.otherquote {
transition: box-shadow .3s;
background-color: #e8e3df;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.otherquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.author{
display: flex;
align-items: center; 
justify-content: center;
}
.author a:link {color: #396e00; text-decoration: none;}
.author a:visited {color: #396e00; text-decoration: none;}
.author a:hover{color: #95b092; text-decoration: none;}
.author a:active{color: black; text-decoration: none;}

.author-icon {
max-width: 100px;
}
.datenote{
font-size: 14px;
text-align: left;
}
.producerdeco {
  text-align: center;
  display: inline-block;
  margin: 15px;	
  max-width: auto;
}

.citationbox{
text-align: center;
margin-left: auto;
margin-right: auto;
transition: box-shadow .3s;
background-color: white;
border-radius:10px;
border: 0px solid #ccc;
font-size: 13px;
color: #5c0010;
justify-content: center;
width: 80%;
}
.citation{
}
.citation a:link {color: #396e00; text-decoration: none;}
.citation a:visited {color: #396e00; text-decoration: none;}
.citation a:hover{color: #95b092; text-decoration: none;}
.citation a:active{color: black; text-decoration: none;}
.citationbox:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  
.citationtext{
text-align: right;
font-size: 13px;
}

.TOSsquare {
  height: auto;
  width: auto;
  position: relative;
}
.TOSsquare {
transition: box-shadow .3s;
background-color: white;
font-size: 14px;
margin: 15px;
padding: 10px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.TOSsquare:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.4);} 

.story-rec{
display: flex;
align-items: center;
grid-template-columns: auto auto;}

.story-thumbnail{
float: left;
transition: box-shadow .3s;
max-width: 300px;
}
.story-thumbnail:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.5);
}  

.story-desc{
padding: 0px 15px 0px 15px;
float: left;
}

.otherrow {
   display: flex;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: .5em
}
.othercolumn {
    position: relative;
    border-radius: .25em;
    overflow: hidden
}
@media only screen and (max-width: 600px) {
    .otherrow {
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr))
    }
}
