.essay {
width: 90%;
background-color: white;
display: inline-block;
border-radius:10px;
box-shadow: 0 0 3px 0 #888888;
}

.essay-header{
text-align:center;
padding: 0 25px 0 25px;
}
.bigessay {
background-color: white;
text-align:left;
font-size: 15px;
border-radius: 10px;
padding: 0 25px 0 25px;
display: inline-block;
width: 90%;
}
.essay-analysis {
display: inline-block;
background-color: white;
text-align:left;
margin: 5px;
font-size: 16px;
}
.entireessaybox{
background-color: #e3e0de;
}
.question {
padding: 15px;
margin: 5px;
border-radius:10px;
background-color: #2a635e;
color: white;
width: 90%;
display: inline-block;
font-size: 16px;
}

.chapter-navigation{
display: inline-block;
border-radius: 10px;
border: 1px dotted black;
padding: 25px 25px 0 25px;
font-size: 18px;
background-color: white;
text-align: left;
width: fit-content;
block-size: fit-content;
align-items: center; 
justify-content: center;
}

.essaydetail-bin{
display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 5px;

max-width: 100%;
border-radius: 5px;
}
.essaydetail-title{
font-size: 22px;
}

.essaydetail-preview{
object-fit: cover;
height: 100%;
background-color: white;
}

.essaydetail-details{
display: inline-block;
font-size: 16px;
padding: 0 0 0 10px;
color: black;
text-align: left;}

.essaydetail-contributor{
display: inline-block;
font-size: 16px;
color: black;
text-align: left;}

.essaydetail-characters{
display: inline-block;
padding: 2px;
font-size: 16px;
color: black;
text-align: center;
margin: auto;
position: relative;
top: 0; left: 0; bottom: 0; right: 0;
padding: 10px;}


.intro-container{
display: grid;
grid-template-columns: auto auto;
padding: 25px 25px 0 25px;
}
@media only screen and (max-width: 600px) {
    .intro-container {
        grid-template-columns:repeat(auto-fill,minmax(250px,1fr))
    }
}

.note{
font-size: 16px;
text-align: center
}

.author{
display: flex;
align-items: center; 
justify-content: center;
}
.author a:link {color: #396e00; text-decoration: none;}
.author a:visited {color: #396e00; text-decoration: none;}
.author a:hover{color: #95b092; text-decoration: none;}
.author a:active{color: black; text-decoration: none;}

.author-icon {
max-width: 100px;
}
.datenote{
font-size: 16px;
text-align: left;
}
.producerdeco {
  text-align: center;
  display: inline-block;
  margin: 15px;	
  max-width: auto;
}

.citationbox{
text-align: center;
margin-left: auto;
margin-right: auto;
transition: box-shadow .3s;
background-color: white;
border-radius:10px;
border: 0px solid #ccc;
font-size: 16px;
color: #032e1f;
justify-content: center;
width: 80%;
}
.citation{
}
.citation a:link {color: #396e00; text-decoration: none;}
.citation a:visited {color: #396e00; text-decoration: none;}
.citation a:hover{color: #95b092; text-decoration: none;}
.citation a:active{color: black; text-decoration: none;}
.citationbox:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  
.citationtext{
text-align: right;
font-size: 16px;
padding: 0 10px 0 0;

}

.TOSsquare {
  height: auto;
  width: auto;
  position: relative;
}
.TOSsquare {
transition: box-shadow .3s;
background-color: white;
font-size: 14px;
margin: 15px;
padding: 10px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.TOSsquare:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.4);} 

.story-rec{
display: flex;
align-items: center;
grid-template-columns: auto auto;
max-width: 250px;}

.story-thumbnail{
float: left;
transition: box-shadow .3s;

}
.story-thumbnail:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.5);
}  

.story-desc{
padding: 0px 15px 0px 15px;
float: left;
}

.relevantstory-box{
background-color: rgba(255, 255, 255, 1);
margin: auto;
float: center;
color: black;
width: 90%;
text-align: left;
font-size: 16px;
}
.stories{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
gap: .5em
}

.relevantstory-box img{
max-width: 100% ;
max-height: 100% ;
}

.profileimg img{
max-width: 100% ;
max-height: 100% ;
}

.relevantstory-name{
display: flex;
flex-direction: column;
justify-content: flex-end;
position: absolute;

padding: 2px;
background-color: #1f3542;
color: white;
text-align: left;
font-size: 12px;
border-radius: 10px;
padding: 0 25px 0 25px;
bottom: 0;
left: 0;

visibility: hidden;
opacity: 0;

transition: opacity .2s ease, visibility .2s ease;
}
.relevant-thumbnail{
  position: relative;
  object-fit: cover;
}
.relevant-thumbnail:hover .relevantstory-name {
  visibility: visible;
  opacity: 1;
}

.story-timelinerow{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
z-index: 1;
text-align: center;
}

@media only screen and (max-width: 600px) {
    .story-timelinerow {
        grid-template-columns:repeat(auto-fill,minmax(200px,1fr))
    }
}

.otherrow {
   display: flex;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: .5em
}
.othercolumn {
    position: relative;
    border-radius: .25em;
    overflow: hidden
}
@media only screen and (max-width: 600px) {
    .otherrow {
        grid-template-columns:repeat(auto-fill,minmax(250px,1fr))
    }
}

.timelinerow{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
gap: .5em
z-index: 1;
}

.epiloguebox{
background-color: white;
border-radius: 10px;
}

.collapsible {
  background-color: #004647;
  color: white;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #367e80;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  max-height: max-content;
  background-color: white;
}

#entraining {
  background-color: #344ded;
  color: white;
}

.directory{
   display: flex;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
gap: 2px;
}

@media only screen and (max-width: 600px) {
    .directory {
        grid-template-columns:repeat(auto-fill,minmax(250px,1fr))
    }
}

.directory-content{
background-color: #f7fdff;
border: solid 1px #5c8594;
padding: 2px;
max-width: 600px;
}

.directory-stories{
margin: auto;
float: left;
color: black;
text-align: left;
font-size: 16px;
}
.stories{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
gap: .5em
}

.directory-stories img{
max-width: 100% ;
max-height: 100% ;
}

.statistics-sheet{
margin: 0 auto;
}

.statistics-sheet img{
max-width: 100% ;
max-height: 100% ;

width: 470px;
}

a {
  text-decoration: none;
}

.quote-container{
overflow: hidden; 
}

.first-bin {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.first-bin img {
display: inline-block;
position: relative;
text-align: center;
width: 100%;
}

.first-bin-box {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #001e27; 
  color: #ffffff; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
}

.basics-bin{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  animation-direction: alternate;
  animation: pulse 3s ease infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffffff;
  }
}

.title {
  font-size: 20px;
  font-weight: 400;
}

.the-basics {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: rgb(33, 3, 3);
}

.the-basics img{
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  border: solid 10px #d42a63;
  transition: ease-in 0.1s;
}
.the-basics img:hover{
  transform: rotate(10deg);
  transform: scale(1.05);
  border: solid 10px #7aba20;
}

.the-basics a {
  padding: 5px 15px;
  background: #e60a69;
  border: 1px solid #e60a19;
  color: #fff;
  transition: 0.4s ease;
  font-size: 15px;
  overflow: hidden;
  border-radius: 2px;
  transition: ease-in 0.1s;
}

.the-basics a:hover{
  background: #6fb156;
  border: 1px solid #6fb156;
}

.the-basics .detail-text b{
  font-size: 15px;
  color: #5e5b5b;
  }
  
  .the-basics .detail-text a {
  color: #607b4b;
  }  

  .filterbox {
  width: 100%;
  background: #00032c;
  position: relative;
  padding: 15px 0;
  color: #ffffff;
  text-align: center;
}

.container{
max-width: 120px;
}
.container img {
  height: 100%;
  width: 100%;
}

.filterbox .filters {padding:10px 45px 0 45px;}
.filterbox ul {padding:0;}

.filterbox li {
  list-style-type: none;
  display: inline-block;
}

.filterbox li a {
  color: #e6f8fe;
  margin: 0 5px;
  border-bottom: none;
}

.filterbox ul b {
  margin: 0 5px;
}

.grid {
  width: 100%;
background: #ffffff;
}

.grid .item {
  font-size: 15px;
  padding: 3px;
  display: block;
  float: left;
  width: 31%;
  box-sizing: border-box;
  margin:1%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.recommendation-box {
text-align: center;
}

.text {text-align:left;}

.preview-thumbnail{
max-width: 50%;
}

.selected {
  font-weight: 700;
  color: red;
  border-bottom: 2px solid rgb(66, 66, 86) !important;
}

.item-story{}
  
.item-story img{
  position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
  max-height: 200px;
  transition: ease-in 0.1s;
  text-align: center;
}
.item-story img:hover{
  transform: scale(1.05)
}
.item img{}
.item a {
  padding: 5px 15px;
  background: #000127;
  color: #fff;
  transition: 0.4s ease;
  font-size: 15px;
  overflow: hidden;
  transition: ease-in 0.1s;
}
.item a:hover {
  background: transparent;
  color: #7aba20;
}

.detail-text{
font-size: 14px;
padding: 0 0 5px 5px;
}
.detail-text b{
color: #193578;
}
.detail-text a {
color: #607b4b;
}

table, th, td {
  margin: 0 auto;
  border: 0px solid;
  color: #035b75;
}

th {
  font-size: 12px;
}

td {transition: ease-in 0.1s;}
td:hover{
  color: #6fb156;
}

.ren-collapsible {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-align: center;
  outline: none;
  font-size: 15px;
}
.active, .ren-collapsible:hover {
  background-color: #eff0e9;
}
.ren-collapsible .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  max-height: max-content;
  background-color: white;
}

.chibi-filter{
width: 50px;
height: 50px;
display: inline-block;
transition: transform .1s;
}
.chibi-filter img{
max-width: 100% ;
max-height: 100% ;
}
.chibi-filter:hover {
transform: translate(0, 1.5px);
}

.chibi-holder{
background: green;
}

.season-text{
font-size: 15px;
width: fit-content;
max-width: 50%;
border: 1px solid #758195;
background: white;
border-radius: 5px;
padding: 5px;

position: absolute;
right:0;
top:0;
}

.infographic{
}
.infographic img{
max-width: 100% ;
max-height: 100% ;
}

.infographic-vid{
width: 100%;
margin-left: auto;
margin-right: auto;
max-width: 100% ;
max-height: 100% ;
}

.chartbox {
width: 700px;
margin: 0 auto;
}
.chartbox-pie {
width: 300px;
margin: 0 auto;
}
.resultsbox {
position: relative;
margin: 0 auto;
max-width: 1000px;
padding: 10px;
}

.chartdec {
font-size: 14px;
}

.pollbin{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
}
.pollbin2{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(800px,1fr));
}

@media only screen and (max-width: 600px) {
    .pollbin {
        grid-template-columns:repeat(auto-fill,minmax(400px,1fr))
    }
.pollbin2 {
        grid-template-columns:repeat(auto-fill,minmax(400px,1fr))
    }
}

.pollitem {
max-width: 500px;
margin: 0 auto;
padding: 10px;
}

.mvanalysis-box {
background-color: white;
display: inline-block;
border:1px solid black;
border-radius: 10px;
box-shadow: 0 0 3px 0 #888888;
}

.oshiquestions {
font-size: 16px;
}

#oshidialogue {
display: inline-block;
background: white;
}

#iconleft{
display: inline-block;
text-align: left;
}

#iconright{
display: inline-block;
text-align: right;
}

.graph {
max-width: 1300px;
float: center;
}
.graph img{
max-width: 100% ;
max-height: 100% ;
}

.trivia-grid {
  grid-template-columns: 1fr 2fr;
  gap: 5px;
}
.trivia-left {
  display: inline-block;
}
.trivia-left img{
  width: 120px;
}
.trivia-right {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
    .infographic img{width: 400px; display: inline-block; margin: 1% 0;}  
    .resultsbox {width: auto; height:auto; display: inline-block;} 
    .graph {width: 500px;} 
    .trivia-grid {grid-template-columns: 1fr; display: inline-block; margin: 1% 0;}
    .basics-bin{grid-template-columns: 1fr;}
    .first-bin img {position: relative; width: 90%; height: 300px;}
    .first-bin-box {position: absolute; width: 90%; height: 300px;}
    }

    @media only screen and (max-width: 600px) {
      .filterbox {width: 100%;}
      .grid {width: 100%}
    .grid .item {width: 48%; display: inline-block; gap: 2px; font-size: 11px;}
    .chibi-filter{width: 25px; height: 25px;}
      .preview-thumbnail{max-width: 100%;}
      }
    