.quiz-row {
   display: grid;
    grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
    gap: .5em
}
.quiz-column {
    position: relative;
    border-radius: .25em;
    overflow: hidden
}
@media only screen and (max-width: 600px) {
    .quiz-row {
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr))
    }
}

.question{
padding: 15px;
margin: 5px;
color: black;
display: inline-block;
}
.answers {
    margin-bottom: 20px;
}
#basic-submit{
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#basic-submit:hover{
	background-color: #3a8;
}