.quotes {
font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .quotes {font-size: 16px;}
    }
}

.quotelabel{
color: #213017;
text-align:left;
padding-left: 10px;
}

.quote {
transition: box-shadow .3s;
padding: 5px;
padding-left: 10px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
border-left: 10px solid #788074;
float: center;
color: black;
text-align:left;
transition: transform .2s;
}
.quote:hover {
transform: translate(5px);
}

#keito {
background-color: #e9f5e1;
}

#kuro {
background-color: #f5e5e1;
}

#souma{
background-color: #e7e1f5;
}

#chiaki {
background-color: #f5e1e3;
}

#kanata {
background-color: #e1f2f5;
}

#tetora {
background-color: #e7e8e3;
}

#midori {
background-color: #eff5e1;
}

#shinobu {
background-color: #fff2db;
}

#mao {
background-color: #f7dfe7;
}

#yuzuru {
background-color: #e3edff;
}

#tori {
background-color: #ffebee;
}  

#adonis {
background-color: #eed4ff;
}

#leo {
background-color: #F7E7D1;
}

#tsukasa {
background-color: #f7e5df;
}

#shu {
background-color: #fae1e8;
}  

#eichi {
background-color: #f2f0d8;
}

#wataru {
background-color: #e1f3f5;
}  

#ritsu {
background-color: #dfdae3;
}  

#tsumugi {
background-color: #dfe6f5;
}  

#koga {
background-color: #e1e1e6;
}  

#location {
background-color: #fcfafa;
color: #505e45;
border: 1px solid white;
border-left: 10px solid #788074;
}

.cwquote {
transition: box-shadow .3s;
background-color: white;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #614945;
border-left: 10px solid #614945;
float: center;
color: #8a3621;
text-align:left;
}
.cwquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.outsidequote {
transition: box-shadow .3s;
background-color: white;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 3px solid #608a81;
float: center;
color: black;
text-align:left;
font-size: 16px;
}
.outsidequote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.outsidequotelabel{
color: #2b3624;
text-align:left;
font-size: 19px;
padding: 10px 0 0 0;}