.quote {
display: inline-block;
transition: box-shadow .3s;
width: 100%;
background-color: white;
border-radius:10px;
border: 0px solid #5c0010;
float: left;
color: black;
text-align:center;
}
.quote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  
.quotelabel{
color: #152925;
text-align:left;
text-indent: 1px;
font-size: 19px;
padding: 10px 10px 1px 10px;}

.keitoquote {
transition: box-shadow .3s;
background-color: #e9f5e1;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.keitoquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.kuroquote {
transition: box-shadow .3s;
background-color: #fae1e1;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.kuroquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.soumaquote {
transition: box-shadow .3s;
background-color: #e3d3f2;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.soumaquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.chiakiquote {
transition: box-shadow .3s;
background-color: #f2d3d3;
padding: 0px 3px 5px 10px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.chiakiquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
} 

.kanataquote {
transition: box-shadow .3s;
background-color: #d3e9f2;
padding: 3px 3px 5px 10px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.kanataquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.tetoraquote {
transition: box-shadow .3s;
background-color: #D1CCD2;
padding: 3px 3px 5px 10px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.tetoraquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
} 

.midoriquote {
transition: box-shadow .3s;
background-color: #eaf2d3;
padding: 3px 3px 5px 10px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.midoriquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
} 

.shinobuquote {
transition: box-shadow .3s;
background-color: #f5f2dc;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.shinobuquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
} 

.otherquote {
transition: box-shadow .3s;
background-color: #e8e3df;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.otherquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.maoquote {
transition: box-shadow .3s;
background-color: #f7dfe7;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.maoquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.yuzuruquote {
transition: box-shadow .3s;
background-color: #e3edff;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.yuzuruquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.toriquote {
transition: box-shadow .3s;
background-color: #ffebee;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.toriquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.adonisquote {
transition: box-shadow .3s;
background-color: #eed4ff;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.adonisquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.leoquote {
transition: box-shadow .3s;
background-color: #f5dfc1;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.leoquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.tsukasaquote {
transition: box-shadow .3s;
background-color: #f7e5df;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.tsukasaquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.shuquote {
transition: box-shadow .3s;
background-color: #fae1e8;
padding: 5px;
padding-left: 15px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
font-size: 18px;
}
.shuquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  
