body {font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-areas:
       "header"
       "main"
       "footer";
	
      background-color: #e3e0de;
      text-align: left;
      }

h1, h2, h3, h4 {font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
                  text-align: left;}
h1{      font-size: 4em;
         color: rgba(255, 255, 255, 1);
         margin: 25px}
h2{      font-size: 1.5em;
         color: black;
	 margin: 15;
	 text-align: center;}
h3{      font-size: 18px;
         color: black;
	 text-align: center;
         text-indent: 5px;}
h4{      font-size: 16px;
         color: black;
	 text-align: center;
         text-indent: 5px;}
h5{      font-size: 16px;
         color:#7d6664;
	 text-align: center;
         text-indent: 5px;}
h6{      font-size: 16px;
         color:black;
	 text-align: left;}


header {
background-color: white;
text-align:center;
font-size: 16px;
}

footer {background-color: #e3e0de;
text-align:center;
font-size: 14px;
}

main{
     display: grid;
     grid-template-rows: 1fr;
     grid-gap: 16px;
     background-color: #e3e0de;
}

hr {
  height: 2px;
  width: 20%;
  border-width:0;
  background-color:#bfa9a8;
}

img {
  width: auto ;
  max-width: 100% ;
  max-height: 100% ;
  height: auto ;}  
.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 150px;
  max-height: 150px;
  float: left;}

.figure {
    position: relative;
    max-width: 100%;
  }
.figure img{
width: 100%
}
  .figure img.Sirv.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .figure:hover img.Sirv.image-hover {
    opacity: 1;
  }

.profilepage{
  text-align:center;
}
.profileimg{
  max-width: 150px;
  max-height: 150px;
}

.row {
   display: grid;
    grid-template-columns: repeat(auto-fill,minmax(275px,1fr));
    gap: .5em
}
.column {
    position: relative;
    border-radius: .25em;
    overflow: hidden
}
@media only screen and (max-width: 600px) {
    .row {
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr))
    }
}

.nav {
  overflow: hidden;
  background-color: #9b1108;
  color: white;
  width: 100%
}
.nav a {
  float: center;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: center;
  overflow: hidden;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.nav a:hover, .dropdown:hover .dropbtn {
  background-color: #BDD561;
  min-width: 100%;
}
.nav a:link {color: white;}
.nav a:visited {color: white;}
.nav a:hover{color: white;}
.nav a:active{color: white;}

.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  background-color: #9b1919;
  border-radius:10px;
  min-width: 160px;
  max-width: 100%
  font-size: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #BDD561;
  color: #040D2B;
  max-width: 100;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.chibi-nav{
width: 75px;
height: 75px;
display: inline-block;
transition: transform .1s;
}
.chibi-nav:hover {
transform: scale(1.5);;
}
.chibi-nav-essay{
text-align: center;
}
.category{
text-align: center;
font-size: 16px;
}
.categorylanes{
width: 90%;
display: inline-block;
}

.disclaimer{
transition: box-shadow .3s;
background-color: white;
padding: 15px;
margin: auto;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
width: 70%;
text-align:left;
font-size: 14px;
}
.disclaimer:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  
.categoryribbon{
padding: 0px;
margin: 5px;
background-color: #5c0010;
border-radius:10px;
color: white;
width: 500px;
display: inline-block;
}


.labelcategory{
transition: transform .2s;
text-align: left;
text-indent: 15px;
font-size: 20px;
}
.labelcategory:hover {
transform: scale(1.01);
}
.homeribbon{
padding: 0px;

margin: 5px;
background-color: #5c0010;
color: white;
width: 100px;
display: inline-block;
}

.line {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #bfa9a8;
}

.box {
text-align:center;
justify: center;
}
.bg {
background-color: white;
text-align:left;
width: 100%;
display: inline-block;
box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.essay {
background-color: white;
text-align:left;
font-size: 15px;
padding: 10px;
margin: 10px;
display: inline-block;
}
.entirebox{
background-color: #e3e0de;
}

.square {
  height: auto;
  width: auto;
  position: relative;
}
.square {
transition: box-shadow .3s;
background-color: white;
font-size: 14px;
margin: 2px;
padding: 5px;
border-radius:10px;
float: center;
color: black;
text-align:left;
}
.square:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.4);
  }

.postersquare{
  max-width: 200px;
  position: relative;
}
.postersquare {
transition: box-shadow .3s;
background-color: white;
margin: 2px;
padding: 15px;
border-radius:10px;
display: relative;
float: center;
}
.postersquare:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.4);
  }

.hide {
  display: none;
}
.square:hover + .hide {
  display: block;
  color: black;
}

footer p{color: rgba(255, 255, 255, 1);
         font-size: 0.7em;}


a:link {color: ##3d7500; text-decoration: none;}
a:visited {color: #436e3f; text-decoration: none;}
a:hover{color: #95b092; text-decoration: none;}
a:active{color: black; text-decoration: none;}

