body {font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-areas:
       "header"
       "main"
       "footer";
      grid-gap: 16px;
      text-align: left;}

h1, h2, h3 {font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
                  text-align: left;}
h1{      font-size: 4em;
         color: rgba(255, 255, 255, 1);
         margin: 25px}
h2{      font-size: 1.7em;
         color: rgba(255, 255, 255, 1);
	 margin: 25px}


header, footer {background-color: white;
padding: 15px;}
main{
     display: grid;
     grid-template-rows: 1fr;
     grid-gap: 16px;
}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;}

.profileimg{
  max-width: 200px;
  max-height: 200px;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column{
  float: left;
  column-gap: 20%;  
  width: 50%;
}

.nav {
  overflow: hidden;
  background-color: #9b1919;
  color: white;
}
.nav a {
  float: center;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 24px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.nav a:hover, .dropdown:hover .dropbtn {
  background-color: #BDD561;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9b1919;
  min-width: 160px;
  font-size: 24px;  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #BDD561;
  color: #040D2B;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.square {
  height: auto;
  width: auto;
  position: relative;
}
.square {
transition: box-shadow .3s;
background-color: #F2F4F1;
margin: 15px;
border-radius:10px;
border: 1px solid #ccc;
float: left;
color: black;
text-align:center;
}
.square:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.4);} 

.hide {
  display: none;
}
.square:hover + .hide {
  display: block;
  color: black;
}

.question {
padding: 15px;
margin: 5px;
background-color: #5F8053;
color: white;}

.essay {
background-color: white;
text-align:left;
margin: 5px;}

.note{
font-size: 12px;
text-align: center
}

.quote {
transition: box-shadow .3s;
width: 100%;
background-color: #F2F4F1;
margin: 15px;
border-radius:10px;
border: 1px solid #ccc;
float: left;
color: black;
text-align:center;
}
.quote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.keitoquote {
transition: box-shadow .3s;
background-color: #ddf2d3;
padding: 5px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.keitoquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.soumaquote {
transition: box-shadow .3s;
background-color: #e3d3f2;
padding: 5px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.soumaquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.kanataquote {
transition: box-shadow .3s;
background-color: #d3e9f2;
padding: 5px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.kanataquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  

.midoriquote {
transition: box-shadow .3s;
background-color: #eaf2d3;
padding: 5px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.midoriquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
} 

.otherquote {
transition: box-shadow .3s;
background-color: #e8e3df;
padding: 5px;
margin: 5px;
border-radius:10px;
border: 1px solid #ccc;
float: center;
color: black;
text-align:left;
}
.otherquote:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  


.citation{
transition: box-shadow .3s;
background-color: #F2F4F1;
margin: 10px;
border-radius:10px;
border: 1px solid #ccc;
font-size: 14px;
color: black;
text-align:center;
}
.citation:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}  
.citationtext{
text-align: right;
font-size: 14px;}

.producerdeco {
  text-align: center;
  max-width: 200px;}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.keitodot {
  height: 25px;
  width: 25px;
  background-color: #4C7B14;
  border-radius: 50%;
  display: inline-block;
}
.kurodot {
  height: 25px;
  width: 25px;
  background-color: #922B2B;
  border-radius: 50%;
  display: inline-block;
}
.soumadot {
  height: 25px;
  width: 25px;
  background-color: #9242A9;
  border-radius: 50%;
  display: inline-block;
}
.chiakidot {
  height: 25px;
  width: 25px;
  background-color: #D70000;
  border-radius: 50%;
  display: inline-block;
}
.kanatadot {
  height: 25px;
  width: 25px;
  background-color: #018FCD;
  border-radius: 50%;
  display: inline-block;
}
.tetoradot {
  height: 25px;
  width: 25px;
  background-color: #4F4055;
  border-radius: 50%;
  display: inline-block;
}
.midoridot {
  height: 25px;
  width: 25px;
  background-color: #42B113;
  border-radius: 50%;
  display: inline-block;
}
.shinobudot {
  height: 25px;
  width: 25px;
  background-color: #FFC300;
  border-radius: 50%;
  display: inline-block;
}

footer p{color: rgba(255, 255, 255, 1);
         font-size: 0.7em;}


a:link {color: white;}
a:visited {color: white;}
a:hover{color: white;}
a:active{color: white;}

