body {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-areas:
       "header"
       "main"
       "footer";
	
      background-color: #01211e;
      background-size:cover;
      background-repeat: no-repeat;
      text-align: left;
      font-size: 18px;
      }

header {
background-color: white;
text-align:center;
font-size: 18px;
border-radius: 10px;
}

footer {
text-align:center;
font-size: 14px;
color: white;
}

main{
     display: grid;
     grid-template-rows: 1fr;
     grid-gap: 16px;
background-color: white;
color: white;
}

.indexcontent-boxdark{
background-color: #00050E;
color: #ffffff;
border: 0px solid #667a6e;

text-align: left;
font-size: 18px;
border-radius:10px;
padding: 0 25px 0 25px;
}

.navcolumn{
  float: right;
  column-gap: 5%;
  width: 10%
}
.contentcolumn{
  float: left;
  column-gap: 5%;  
  width: 85%;
}

.timelinerow{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
gap: .5em
z-index: 1;
}

@media only screen and (max-width: 600px) {
    .timelinerow {
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr))
    }
}

.sectionnames{
transition: transform .2s;
}
.sectionnames:hover {
transform: scale(1.2);
}

.timelinesquare{
position: relative;
background-color: white;
font-size: 14px;
margin: 2px;
border-radius:10px;
float: center;
color: black;
text-align:center;
}

.relevantstory-timeline{
display: flex;
flex-direction: column;
justify-content: flex-end;
position: absolute;

padding: 2px;
background-color: #01211e;
color: white;
text-align: left;
font-size: 12px;
border-radius: 10px;
  border-image: linear-gradient(90deg, #a8db83, #42b9f5) 30;
  border-width: 2px;
  border-style: solid;
padding: 0 25px 0 25px;
top: 0;
left: 0;

visibility: hidden;
opacity: 0;

transition: opacity .2s ease, visibility .2s ease;
}

.timelinesquare img{
max-width: 100% ;
max-height: 100% ;
}

.timelinesquare:hover .relevantstory-timeline {
  visibility: visible;
  opacity: 1;
}
.chibi-relevant{
width: 40px;
height: 40px;
display: inline-block;
}
.chibi-relevant img{
max-width: 100% ;
max-height: 100% ;
}


.season-header{
}

.timelinesquare-separator{
border: 5px solid rgba(245, 235, 235,.8);
padding: 10px;
z-index: 1;
}

.timelinelabel{
transition: transform .2s;
text-align: left;
text-indent: 16px;
font-size: 50px;
color: black;
}
.timelinelabel:hover {
transform: scale(1.01);
}

.timelinefilterbox {
  width: 100%;
  background: white;
  position: relative;
  color: #4d140b;
border-radius: 5px;
}

.timelinefilterbox .filters {padding: 0 10px 0 5px;}
.timelinefilterbox ul {padding:0;}

.timelinefilterbox li {
  list-style-type: none;
  display: inline-block;
}

.timelinefilterbox li a {
  color: #3c9183;
  border-bottom: 1px solid #454545;
  margin: 0 5px;
}

.timelinefilterbox ul b {
  margin: 0 5px;
}

.timelinegrid{
background: white}

.timelinegrid .item {
  display: block;
  padding: 5px;
  width: 23%;
  box-sizing: border-box;
  margin:1%;
  overflow: hidden;
}

.TLpreview-thumbnail{
max-width: 100%;
}

@media only screen and (max-width: 600px) {
    filterbox {width: 100%;}
    .timelinegrid .item {width: 46%; display: inline-block; margin: 1% 0;}
    .preview-thumbnail{max-width: 100%;}
    }

.selected {
  color: #fff;
  border-bottom-color: #97c5e0;
  font-weight: bold;
}

.item {
font-size: 15px;
}

.item a {
  padding: 5px 15px;
  background: #852938;
  border: 1px solid #b8c7a5;
  color: #fff;
  transition: 0.4s ease;
  font-size: 15px;
  overflow: hidden;
}

.item a:hover {
  background: transparent;
  color: #852938;
}

.TLrecommendation-box {
font-size: 15px;
color: #0B0C22;
display: inline-block;
padding: 5px;
text-align: left;
max-width: auto;
padding: 0 10px 0 10px;
border-radius: 10px;
border: 2px solid #1b1f4a;
background-color: #FEFEFE;
box-shadow: -3px 3px #b57474;
}

.TLrecommendation-box img{
max-width: 100% ;
max-height: 100% ;
}

.time-text{
font-size: 12px;
text-align: right;
}

.TLcollapsible {
  background-color: #1b1f4a;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 3px;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .TLcollapsible:hover {
  background-color: #4e56ad;
}
.content {
  display: none;
  overflow: hidden;
  max-height: max-content;
  background-color: #white;
}
