.navcolumn{
  float: right;
  column-gap: 5%;
  width: 10%
}
.contentcolumn{
  float: left;
  column-gap: 5%;  
  width: 85%;
}

.timelinerow{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
gap: .5em
z-index: 1;
}

@media only screen and (max-width: 600px) {
    .timelinerow {
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr))
    }
}

.sectionnames{
transition: transform .2s;
}
.sectionnames:hover {
transform: scale(1.2);
}

.timelinesquare{
position: relative;
background-color: white;
font-size: 14px;
margin: 2px;
border-radius:10px;
float: center;
color: black;
text-align:center;
}

.relevantstory-timeline{
display: flex;
flex-direction: column;
justify-content: flex-end;
position: absolute;

padding: 2px;
background-color: #01211e;
color: white;
text-align: left;
font-size: 12px;
border-radius: 10px;
  border-image: linear-gradient(90deg, #a8db83, #42b9f5) 30;
  border-width: 2px;
  border-style: solid;
padding: 0 25px 0 25px;
top: 0;
left: 0;

visibility: hidden;
opacity: 0;

transition: opacity .2s ease, visibility .2s ease;
}

.timelinesquare:hover .relevantstory-timeline {
  visibility: visible;
  opacity: 1;
}
.chibi-relevant{
width: 40px;
height: 40px;
display: inline-block;
}

.season-header{
}

.timelinesquare-separator{
border: 5px solid rgba(245, 235, 235,.8);
padding: 10px;
z-index: 1;
}

