.translationsquare {
  height: auto;
  width: auto;
  position: relative;
}
.translationsquare {
transition: box-shadow .3s;
background-color: white;
font-size: 14px;
margin: 2px;
padding: 5px;
border-radius:10px;
float: center;
color: black;
text-align:left;

}
.translationsquare:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.4);
  }
.translationsquare-desc{
position: relative;
justify: center;

background-color: white;
color: black;
text-align: left;
font-size: 15px;
border-radius: 10px;
padding: 0 25px 0 25px;
bottom: 0;
left: 0;
}
.translationsquare img{
  height: auto;
  width: auto;
max-width: 100% ;
max-height: 100% ;

}

.translationribbon {
  height: auto;
  width: auto;
  position: relative;
  max-width: 450px;
}
.translationribbon {
transition: box-shadow .3s;
background-color: white;
font-size: 14px;
margin: 2px;

border-radius:10px;
float: center;
color: black; 
padding:2px;
}
.translationribbon img{
  height: auto;
  width: auto;
max-width: 100% ;
max-height: 100% ;
border-radius:10px;
border: 1.5px solid #ccc;
}


.dialogue-icon{
max-width: 100px;
}

.dialogue-icon img{
max-width: 100% ;
max-height: 100% ;
}

.translation-name {
text-align:left;
text-indent: 1px;
font-size: 22px;
}

.translation-title {
text-align:center;
font-size: 30px;
}
.translation-titlechapters {
font-size: 25px;
}


.location-narration {
text-align:center;
text-indent: 1px;
font-size: 18px;
}

.translation-chibis{
text-align: left;
}

.chara-name{
display: flex;
flex-direction: column;
justify-content: flex-end;
position: absolute;

padding: 2px;
background-color:#002b27;
color: white;
text-align: center;
font-size: 16px;
padding: 0 25px 0 25px;

max-width: 100%;
bottom: 15px;
}

.story-holder{

}

@media only screen and (max-width: 600px) {
    .story-holder {width: 100%;}
    .story-holder .event-storyblock {width: 100%; display: inline-block; margin: 1% 0;}
    .story-holder .idol-storyblock {width: 45%; display: inline-block; margin: 1% 0;}
    .story-holder .management-storyblock {width: 20%; display: inline-block; margin: 1% 0;}
    .story-holder .management-storyblock-wip {width: 20%; display: inline-block; margin: 1% 0;}
    .story-holder .magazine-storyblock {width: 100%; display: inline-block; margin: 1% 0;}
    .event-storyblock img{max-width: 100%;}
    }
}


.management-storyblock .chara-name {
  visibility: visible;
  opacity: 1;
}
.management-storyblock .chara-name:hover{
transition: transform .1s;
background-color: #008a8f;
transform: scale(1.05);
}

.management-storyblock-wip .chara-name {
  visibility: visible;
  opacity: 1;
}

.magazine-storyblock .chara-name {
  visibility: visible;
  opacity: 1;
}
.magazine-storyblock .chara-name:hover{
transition: transform .1s;
transform: scale(1.05);
}

.magazine-storyblock img {
height: auto;
width: auto;
max-width: 100% ;
max-height: 100% ;
}

.magazine-storyblock{
position: relative;
width: 400px;
display: inline-block;
transition: transform .1s;
}
.magazine-storyblock:hover{
transform: translate(0, -10px);
}
.magazine-storyblock img{
  height: auto;
  width: auto;
max-width: 100% ;
max-height: 100% ;
border-radius: 10px;
}

.management-storyblock{
position: relative;
width: 150px;
display: inline-block;
transition: transform .1s;
}
.management-storyblock:hover{
transform: translate(0, -10px);
}

.management-storyblock img{
  height: auto;
  width: auto;
max-width: 100% ;
max-height: 100% ;
}

.management-storyblock-wip{
position: relative;
width: 150px;
display: inline-block;
filter: grayscale(80%);
opacity: 0.5;
background-color: white;
transition: transform .1s;
}

.management-storyblock-wip img{
  height: auto;
  width: auto;
max-width: 100% ;
max-height: 100% ;

}

.management-storyblock-wip:hover{
transform: translate(0, 10px);
}

.idol-storyblock{
position: relative;
height: 300px;
display: inline-block;
transition: transform .1s;
}
.idol-storyblock:hover{
transform: translate(0, -10px);
}

.idol-storyblock img{
  height: auto;
  width: auto;
max-width: 100% ;
max-height: 100% ;

border-radius: 10px;
border-top: 10px solid #141c2e;
border-bottom: 10px solid #141c2e;
}

.idol-storyblock .name {
  visibility: visible;
  opacity: 1;
  position: absolute;
transition: transform .1s;

display: flex;
flex-direction: column;
justify-content: flex-end;
position: absolute;

padding: 2px;
background-color:#002b27;
color: white;
text-align: center;
font-size: 18px;
padding: 0 25px 0 25px;

max-width: 100%;
bottom: 15px;
}

.idol-storyblock .name:hover{
transition: transform .1s;
background-color: #008a8f;
transform: scale(1.05);
}

.event-storyblock{
position: relative;
width: 400px;
margin: 5px;
display: inline-block;
transition: transform .1s;

}
.event-storyblock:hover{
transform: translate(0, -10px);
}

.event-storyblock img{
  height: auto;
  width: auto;
max-width: 100% ;
max-height: 100% ;
border-radius: 10px;
border: 2px solid #514c63;

border-top: 15px solid #141c2e;
border-bottom: 15px solid #141c2e;
}

.event-storyblock .name {
  visibility: visible;
  opacity: 1;
  position: absolute;
transition: transform .1s;

display: flex;
flex-direction: column;
justify-content: flex-end;
position: absolute;

padding: 2px;
background-color:#002b27;
color: white;
text-align: center;
font-size: 18px;
padding: 0 25px 0 25px;

max-width: 100%;
bottom: 15px;
}

.event-storyblock .name:hover{
transition: transform .1s;
background-color: #008a8f;
transform: scale(1.05);
}

.translation-bin{
display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 5px;
max-width: 100%;
border-radius: 10px;

}

.translation-title{
font-size: 22px;
}

.translation-preview{
object-fit: cover;
height: 100%;
background-color: white;
}

.translation-details{
display: inline-block;
font-size: 20px;
padding: 0 0 0 10px;
color: black;
text-align: left;}

.translation-contributor{
display: inline-block;
font-size: 18px;
color: black;
text-align: left;}

.translation-characters{
display: inline-block;
padding: 2px;
font-size: 16px;
color: black;
text-align: center;
margin: auto;
position: relative;
top: 0; left: 0; bottom: 0; right: 0;
padding: 10px;}

.translation-chapters{
display: inline-block;
padding: 2px;
font-size: 16px;
color: black;
text-align: center;
margin: auto;
position: relative;
top: 0; left: 0; bottom: 0; right: 0;
padding: 10px;}

.translation-card img{
height: auto;
width: auto;
max-width: 100%;
max-height: 100%;}

.TLbackground{
background: black;
color: white;
}

.TLindexcontent-box{
background: #fcfffa;
border: 0px solid #667a6e;
border-left: 20px solid #141c2e;
border-right: 20px solid #141c2e;

text-align: left;
font-size: 18px;
padding: 0 15px 0 15px;
}

.preview-container{
padding: 5px;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
justify-content: start;
gap: 10px;
color: white;
max-width: 98%;

box-shadow: 0 0 15px rgba(33,33,33,.4);
border: 2px solid #bab520;

border-top: 15px solid black;
border-bottom: 15px solid black;
}

.preview-container a{
color: #88b5a3;
}

#scrolls {
background: url("../images/background/castle-tower.png");
width: 100%;
}

#opera {
background: url("../images/background/opera.png");
width: fit-content;
}

@media only screen and (max-width: 600px) {
    .preview-container {
	max-width: 95%;
	overflow: hidden;
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr))
    }
}

.preview-image{
display: inline-block;
max-width: 100%;
}
.preview-image img{
height: auto;
width: 500px;
max-width: 100%;
max-height: 100%;
border-radius: 10px;
transition: transform .1s;
}
.preview-image img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(33,33,33,.4);
}

.preview-details{
display: inline-block;
padding: 10px;
max-width: 100%;
transition: transform .1s;
border-radius: 10px;
background: rgba(0, 0, 0, 0.9);
border: 1px solid white;

height: fit-content;
}

.preview-details2{
display: inline-block;
padding: 10px;
max-width: 100%;
border-radius: 10px;
font-size: 16px;
background: rgba(0, 0, 0, 0.9);
border: 1px solid white;
color: white;

height: fit-content;
}

.preview-title{
font-size: 30px;
color: #05211a;
}
.preview-desc{
font-size: 16px;
}
.preview-chapters{
padding: 10px;
transition: transform .1s;
border:  1.5px dotted #031e26; 
color: black;
color: white;
}
.preview-chapters:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(33,33,33,.4);
}
.preview-season{
font-size: 16px;
}
.preview-characters{
font-size: 18px;
}
.preview-characters img{
height: auto;
width: auto;
max-width: 60px;
max-height: 60px;
transition: transform .2s;
}
.preview-characters img:hover {
  transform: scale(1.1);
}

.relevant-story-header {
}
.relevant-story {
  height: auto;
  width: auto;
  position: relative;
overflow: hidden;
transition: transform .1s;

}
.relevant-story img{
height: auto;
width: auto;
max-width: 400px;
max-height: auto;

border-radius: 10px;
border: 2px solid #514c63;}

.relevant-story:hover {
transform: scale(1.05);
}

.relevant-story .name {
  visibility: visible;
  opacity: 1;
  position: absolute;
transition: transform .1s;

display: flex;
flex-direction: column;
justify-content: flex-end;
position: absolute;

padding: 2px;
background-color:#002b27;
color: white;
text-align: center;
font-size: 18px;
padding: 0 25px 0 25px;

max-width: 100%;
top: 0px;
}

.relevant-story-wip .name {
  visibility: visible;
  opacity: 1;
  position: absolute;
transition: transform .1s;

display: flex;
flex-direction: column;
justify-content: flex-end;
position: absolute;

padding: 2px;
background-color:#002b27;
color: white;
text-align: center;
font-size: 18px;
padding: 0 25px 0 25px;

max-width: 100%;
bottom: 15px;
}

.relevant-story-wip{
  height: auto;
  width: auto;
  position: relative;
overflow: hidden;
filter: grayscale(80%);
opacity: 0.5;
background-color: white;
transition: transform .1s;
}
.relevant-story-wip img{
height: auto;
width: auto;
max-width: 415px;
max-height: auto;}

.relevant-story-wip:hover {
transform: scale(1.05);
}


.relevant-story .time {
text-align: center;
font-size: 16px;
padding: 0 0
}

.inner-monologue{
color: #260399;
}

.relevant-story .name:hover{
transition: transform .1s;
background-color: #00a39e;
transform: scale(1.05);
}

.rel-story-bin {
   display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));

background-repeat: no-repeat;
background-color: white;
color: black;
padding: 10px;
}

@media only screen and (max-width: 600px) {
    .rel-story-bin {
        grid-template-columns:repeat(auto-fill,minmax(350px,1fr))
    }
}

.locationquote a:link{color: #008c8c; text-decoration: none;}

.rel-story-bin a:link {color: #fffcde; text-decoration: none;}
.rel-story-bin a:visited {color: #e9fc9d; text-decoration: none;}
.rel-story-bin a:hover{color: #95b092; text-decoration: none;}
.rel-story-bin a:active{color: white; text-decoration: none;}
  