.infographicsquare {
  height: auto;
  width: auto;
  position: relative;
}
.infographicsquare {
padding: 5px;
border-radius:10px;
float: center;
text-align:left;
}
.infographicsquare img{
  height: auto;
  width: auto;
max-width: 100% ;
max-height: 100% ;

}

.preview-container{
padding: 5px;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
justify-content: start;
gap: 10px;
color: rgb(14, 21, 36);
max-width: 98%;

box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
border: 2px solid #bab520;

}

.preview-container a{
color: #4e6c3f;
}

.entrain-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.entraintrainer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.entrain-exercise{
}

@media only screen and (max-width: 600px) {
    .preview-container {
	max-width: 95%;
	overflow: hidden;
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr))}
.entrain-wrapper {
  grid-template-columns: 1fr;
}
.entraintrainer-wrapper {
  grid-template-columns:repeat(auto-fill,minmax(300px,1fr))
}
}
