.basics-bin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    animation: pulse 3s ease infinite alternate;
    animation-direction: alternate;
}

@keyframes pulse {
    0% {
        background-color: #ffffff;
    }
    100% {
        background-color: #ffffff;
    }
}

.title {
    font-size: 20px;
    font-weight: 400;
}

.the-basics {
    color: rgb(33, 3, 3);
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.the-basics img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    border: solid 5px #659a1c;
    transition: ease-in 0.1s;
}

.the-basics img:hover {
    transform: scale(1.05) rotate(10deg);
    border: solid 10px #0bc6e3;
}

.the-basics a {
    background: #659a1c;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    padding: 5px 15px;
    transition: 0.4s ease;
    overflow: hidden;
}

.the-basics a:hover {
    background: #0bc6e3;
}

.the-basics .detail-text b {
    font-size: 15px;
    color: #5e5b5b;
}

.the-basics .detail-text a {
    color: #607b4b;
}

.filterbox {
    width: 100%;
    background: #ffffff;
    color: #000818;
    padding: 15px 0;
    position: relative;
    text-align: center;
}

.filterbox .filters {
    padding: 0;
}

.filterbox ul {
    padding: 0;
}

.filterbox li {
    list-style-type: none;
    display: inline-block;
}

.filterbox li a {
    color: #003f53;
    margin: 0 5px;
    border-bottom: none;
}

.filterbox ul b {
    margin: 0 5px;
}

.container {
    max-width: 120px;
}

.container img {
    width: 100%;
    height: 100%;
}

.grid {
    width: 100%;
    background: #ffffff;
}

.grid .item {
    width: 31%;
    height: 500px;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    font-size: 15px;
    margin: 1%;
    padding: 3px;
    overflow: scroll;
    display: block;
    float: left;
}

.recommendation-box {
    text-align: center;
}

.text {
    text-align: left;
}

.preview-thumbnail {
    max-width: 50%;
}

.selected {
    color: red;
    font-weight: 700;
    border-bottom: 2px solid rgb(66, 66, 86) !important;
}

.item-story img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
    position: relative;
    text-align: center;
    transition: ease-in 0.1s;
}

.item-story img:hover {
    transform: scale(1.05);
}

.item a {
    background: #000127;
    color: #fff;
    font-size: 15px;
    padding: 5px 15px;
    transition: 0.4s ease;
    overflow: hidden;
}

.item a:hover {
    background: transparent;
    color: #7aba20;
}

.detail-text {
    font-size: 14px;
    padding: 0 0 5px 5px;
}

.detail-text b {
    color: #193578;
}

.detail-text a {
    color: #607b4b;
}

table, th, td {
    margin: 0 auto;
    border: 0px solid;
    color: #035b75;
}

th {
    font-size: 12px;
}

td {
    transition: ease-in 0.1s;
}

td:hover {
    color: #6fb156;
}

.ren-collapsible {
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 16px;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active, .ren-collapsible:hover {
    background-color: #eff0e9;
}

.ren-collapsible .content {
    max-height: max-content;
    background-color: white;
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.chibi-filter {
    width: 50px;
    height: 50px;
    display: inline-block;
    transition: transform .1s;
}

.chibi-filter img {
    max-width: 100%;
    max-height: 100%;
}

.chibi-filter:hover {
    transform: translate(0, 1.5px);
}

.chibi-holder {
    background: green;
}

.chartbox {
    width: 700px;
    margin: 0 auto;
}

.chartbox-pie {
    width: 300px;
    margin: 0 auto;
}

.resultsbox {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.chartdec {
    font-size: 14px;
}

.pollbin {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.pollbin2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
}

.pollitem {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.mvanalysis-box {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 #888;
    display: inline-block;
}

.graph {
    max-width: 1300px;
    float: center;
}

.graph img {
    max-width: 100%;
    max-height: 100%;
}


@media only screen and (max-width: 600px) {
    .intro-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .pollbin {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .pollbin2 {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .resultsbox {
        width: auto;
        height: auto;
        display: inline-block;
    }
    .graph {
        width: 500px;
    }
    .basics-bin {
        grid-template-columns: 1fr;
    }
    .filterbox {
        width: 100%;
    }
    .grid {
        width: 100%;
    }
    .grid .item {
        width: 48%;
        font-size: 11px;
        gap: 2px;
        display: inline-block;
    }
    .chibi-filter {
        width: 25px;
        height: 25px;
    }
    .preview-thumbnail {
        max-width: 100%;
    }
}