.container {
    margin: 0 auto;
}

.big-container {
    height: 80vh;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #333;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.filterbox {
    margin: 50px;
}

.filterbox ul {
    list-style: none;
    padding: 0;
}

.filterbox li {
    display: inline;
    margin-right: 10px;
}

.filterbox a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.3s ease;
}

.filterbox a.selected {
    background-color: #333;
    color: white;
}

.filter-group {
    margin-bottom: 10px;
}

.filter-group b {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.filter {
    list-style: none;
    padding: 0;
    display: none;
}

.arrow {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.collapsed .arrow {
    transform: rotate(-90deg);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.palette {
    width: 20%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.block {
    display: block;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.block:hover {
    height: 70px;
}

.hexcode {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    color: white;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.block:hover .hexcode {
    opacity: 1;
}

p {
    margin: 0;
    font-size: 1.2em;
}

.icon {
    margin-right: 5px;
    font-size: 1.2em;
}

.color-swatch {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    border-radius: 50%;
}

.character-name {
    font-size: 0.9em;
    font-style: italic;
    color: #666;
    margin-top: 5px;
}

.greyed-out {
    filter: grayscale(100%);
    opacity: 0.6;
    transition: filter 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
    
    .palette {
        width: 45%;
        flex: none;
    }
}